
<!DOCTYPE html>
<html lang="en">
<head>
<title>search</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<body>

    <div class="chatbot-container">
        <div class="chatbot-header">
          <h4>Ask the paper</h4>
        </div>
        <!-- <div class="chat-body"> -->
          <div class="chatbot-messages" #messagesContainer>
            <div *ngFor="let message of messages" [ngClass]="{'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
              <p>{{ message.text }}</p>
            </div>
          </div>
        <!-- </div> -->
        <div class="chatbot-input">
          <input type="text" [(ngModel)]="userMessage" (keydown.enter)="sendMessage()" placeholder="Write a message ..." />
          <button (click)="sendMessage()">Senden</button>
        </div>
      </div>
      
      

</body>
</html>