
<!DOCTYPE html>
<html lang="en">
<head>
<title>search</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<body>

<app-header></app-header>

<header>
    <h2>All Research</h2>
</header>
<div class="sorting">
    <span>Sort by:</span>
    <select [(ngModel)]="sortOption" (change)="sortResults()" class="form-control expanded-select">
        <option *ngFor="let option of sortOptions" [value]="option">{{ option }}</option>
    </select>
    
</div>            

<section>

  <nav>
    <ul>
        <li> <section id="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search research" [(ngModel)]="searchQuery" />
        </section></li>
        
        <li><section id="reset-filters"> 
            <button class="reset-filters" (click)="resetFilters()">Reset filters</button>
        </section></li>
        
        <br>

        <li><div class="search-bar" *ngFor="let dropdown of dropdown; let i = index"> 
            <div class="dropdown-container">
              <!-- Dropdown Heading -->
               <div class="dropdown-header" (click)="toggleDropdown(i)"> 
                <!-- Left: Icon and Heading -->
                 <div class="header-icon">
                    <i [class]="dropdown.icon"></i>
                 </div>
                 <div class="header">            
                    <h2>{{ dropdown.heading }}</h2>
                </div>
                <!-- Right: Dropdown Arrow -->
                 <span class="dropdown-arrow" [class.expanded]="dropdown.isExpanded">
                    <i class="fa-solid fa-angle-down"></i> 
                </span>
            </div>
            <!-- Dropdown Content -->
             <div class="dropdown-content" *ngIf="dropdown.isExpanded">
                <ul>
                    <li *ngFor="let item of dropdown.childContents">{{ item }}</li>
                </ul>
            </div>
        </div>    
    </div></li>
    </ul>
  </nav>
  
  <article>
    <div class="papers-list">
      <div *ngFor="let paper of papers">
        <div class="paper-item">
          <h3>
            <a [routerLink]="['/paper', paper.title]" routerLinkActive="router-link-active">{{ paper.title }}</a>
          </h3>
          <p><strong>Summary:</strong> {{ paper.abstract}}</p>
          <p><strong>Category:</strong> {{ paper.tags.join(', ') }}</p>
          <p><strong>Authors:</strong> {{ paper.authors.join(', ') }}</p>
          <p><strong>Year:</strong> {{ paper.date | date: 'yyyy' }}</p>
          <p><strong>Views:</strong> {{ paper.views }}</p>
        </div>
        <hr />
      </div>
    </div>
      
  
    <!-- Pagination -->
    <div class="pagination">
        <button (click)="previousPage()"> 
            <i class="fa-solid fa-circle-arrow-left"></i> </button>
        <span>{{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()"> 
            <i class="fa-solid fa-circle-arrow-right"></i> </button>
    </div>
</article>
</section>

<app-footer></app-footer>

</body>
</html>

