
<!DOCTYPE html>
<html lang="en">
<head>
<title>search</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">



</head>
<body>

<app-header></app-header>

<header>
    <h2>All Research</h2>
</header>
<div class="sorting">
    <span>Sort by:</span>
    <select [(ngModel)]="sortOption" (change)="sortResults()" class="form-control expanded-select">
        <option *ngFor="let option of sortOptions" [value]="option">{{ option }}</option>
    </select>
    
</div>            

<section>

  <nav>
    <ul>
        <li> <section id="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search by " [(ngModel)]="searchQuery" (keypress)="onKeyPress($event)" [maxlength]="1000"/>
            
            <!-- Search Dropdown -->
              <select [(ngModel)]="searchOption" class="search-select">
                <option value="author">Author</option>
                <option value="title">Title</option>
                <option value="content">Content</option>
              </select>
              <i class="fa fa-chevron-down"></i>
        </section></li>

        <li><section id="search-button">
          <button (click)="perfomSearch()">Search</button> 
          <button class="reset-search" (click)="resetSearch()">Reset search</button>
        </section></li>
        
        <br>


        <!-- Filters Section -->
       
        <!-- Filter: Tags/Research Area -->
        <div class="filters">
          <h4 (click)="toggleFilter('researchAreas')">
            Research Areas <i class="fa fa-chevron-down"></i>
          </h4>
          <ul *ngIf="filterState.researchAreas">
            <li *ngFor="let area of researchAreas">
              <input type="checkbox" [(ngModel)]="filters.selectedAreas[area]" (change)="applyFilters()" />
              {{ area }}
            </li>
          </ul>
        </div>

        <!-- Filter: Publish Year -->
        <div class="filters">
          <h4 (click)="toggleFilter('publishYear')">
            Publish Year <i class="fa fa-chevron-down"></i>
          </h4>
          <ul *ngIf="filterState.publishYear">
            <li *ngFor="let year of publishYears">
              <input type="checkbox" [(ngModel)]="filters.selectedYears[year]" (change)="applyFilters()" />
              {{ year }}
            </li>
          </ul>
        </div>

        <!-- Filter: Views -->
        <div class="filters">
          <h4 (click)="toggleFilter('views')">
            Views <i class="fa fa-chevron-down"></i>
          </h4>
          <ul *ngIf="filterState.views">
            <li *ngFor="let view of viewOptions">
              <input type="checkbox" [(ngModel)]="filters.selectedViews[view]" (change)="applyFilters()" />
              {{ view }}
            </li>
          </ul>
        </div>



    </ul>
  </nav>
  
  <article>
    <!-- Display papers -->
    <div class="papers-list">
      <!-- Show articles if results are from filters or search -->
      <div *ngIf="displayedPapers.length > 0; else noResult">
        <div *ngFor="let paper of displayedPapers">
          <div class="paper-item">
            <div class="paper-info">
              <div>
                <h3>
                  <a [routerLink]="['/paper', paper.title]" routerLinkActive="router-link-active" target="_blank">{{ paper.title }}</a>
                </h3>
                <p><strong>Category:</strong> {{ paper.tags.join(', ') }}</p>
                <p><strong>Authors:</strong> {{ paper.authors.join(', ') }}</p>
                <p><strong>Year:</strong> {{ paper.date | date: 'yyyy' }}</p>
                <p><strong>Views:</strong> {{ paper.views }}</p>
              </div>
              <img [src]="paper?.image" width="150px" height="150px" onerror="this.src='https://hessian.ai/wp-content/themes/hessianai/apple-touch-icon.png';" />
            </div>
            <p><strong>Summary:</strong> {{ paper.abstract }}</p>
          </div>
          
        </div>
      </div>
      <ng-template #noResult>
        <p>No papers found matching the selected filters or search query.</p>
      </ng-template>
    </div>
      

        
  
    <!-- Pagination -->
    <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1"> 
            <i class="fa-solid fa-circle-arrow-left"></i> </button>
        <span>{{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages"> 
            <i class="fa-solid fa-circle-arrow-right"></i> </button>
    </div>
</article>
</section>

<app-footer></app-footer>

</body>
</html>

