/* Global styling */
* {
  box-sizing: border-box;
}

header {
  margin-left: 5%;
  font-size: 30px;
  color: #36196d;
}

body {
  font-family: 'Poppins', sans-serif;
}

.sorting {
  margin-left: 5%;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
}

select {
  appearance: none; /* Removes default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 15px;
  color: #6a39d2;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: all 0.3s ease;
}

select:focus {
  border-color: #6a39d2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select::-ms-expand {
  display: none; /* Hides default dropdown in IE */
}

/* Container for flexboxes */
section {
  display: flex;
  display: flex;
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  color: #edecfd;
}

/* Style the navigation menu */
nav {

  flex: 1;
  border-radius: 8px;
  background: #7a46eb;
  margin-left: 5%;
  margin-right: 15px;
  padding: 20px;
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  color: #edecfd;

  /* Style the list inside the menu */
  ul {
    list-style-type: none;
    padding: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    color: #edecfd;

    /* Style search bar */
    #search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 10px 5%;
    }
    #search-bar input {
      appearance: none;
      padding: 10px 15px;
      background-color: #7a46eb;
      color: #edecfd;
      border: 1px solid #7a46eb;
      border-radius: 4px;
      font-size: 16px;
      font-style: italic;
      cursor: pointer;
      outline: none;
      transition: all 0.3s ease;
      width: 100%; /* Full width input box */
    }

    
    #search-bar select {
      font-size: 16px;
      border: #7a46eb;
      background-color: #7a46eb;
      color: #edecfd;
      padding: 0%;
  
    }

  
    
    #search-button {
      justify-content: space-around;
      justify-self: stretch;
      margin: 10px 5%;
    }
    
    button {
      padding: 10px 15px;
      color: #edecfd;
      background-color: #7a46eb;
      border: 1px solid #edecfd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    #search-button button:hover {
      background-color: #6a39d2;
    }
  }

  .filters {
    color: #edecfd;
  }
  
}

mat-slider {
  width: 20vw;

  .thumb {
      background-color: #36196d;  
      border: 2px solid #ffffff; 
      width: 20px;  
      height: 20px; 
  }
}


/* Style the content */
article {
  flex: 3;
  //background-color: #f1f1f1;
  padding: 10px;
  margin-left: 15px;
  margin-right: 5%;
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  color: black;

  .paper-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .paper-item {
    background: #fff;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    padding-left: 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      border-color: #7a46eb;
    }

    .paper-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      padding-right: 3%;
    }

    h3 {
      font-size: 30px;
      margin: 0 0 0.5rem;

      a {
        text-decoration: none;
        color: #7a46eb;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 0.25rem 0;
      font-size: 0.9rem;
      color: #555;

      strong {
        color: #000;
      }
      
    }

    hr {
      margin-top: 1rem;
      border: 0;
      border-top: 1px solid #eaeaea;
    }
  }

  .bold-author {
    font-weight: bold;
    color: #36196d;
  }

  /* Style the pagination */
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .pagination button {
    background: none; /* Remove background from buttons */
    border: none; /* Remove button border */
    cursor: pointer;
    padding: 0;
    outline: none;
    position: relative;
  }
  
  .pagination button i {
    font-size: 24px; /* Size of the arrows */
    color: #7a46eb;
    transition: transform 0.3s, color 0.3s;
  }
  
  .pagination button:hover i {
    color: #6a39d2; /* Change color on hover */
    transform: scale(1.2); /* Optional: Add a hover effect */
  }
  
  .pagination span {
    font-size: 14px;
    color: #333;
  }
}


/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


.example-listbox-container {
  display: block;
  width: 250px;
  border: 1px solid black;
}

.example-listbox-label {
  display: block;
  padding: 5px;
}

.example-listbox {
  list-style: none;
  padding: 0;
  margin: 0;
}

.example-option {
  position: relative;
  padding: 5px 5px 5px 25px;
}

.example-option[aria-selected='true']::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m9.55 18-5.7-5.7 1.425-1.425L9.55 15.15l9.175-9.175L20.15 7.4Z"/></svg>'); /* stylelint-disable-line */
  background-size: cover;
  position: absolute;
  left: 2px;
}

.example-option:focus {
  background: rgba(0, 0, 0, 0.2);
}
