
<!DOCTYPE html>
<html lang="en">
<head>
<title>footer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  /* Style the footer */
footer {
  background-color: #36196d;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: 'Poppins',sans-serif;
  font-size: 14px;
  color: #f1f1f1;
  margin-top: 10%;
}
</style>
</head>


<body>
  <footer>
    <p>hessian.ai
      The Hessian Center for
      Artificial Intelli­gence</p>
  </footer>
</body>
</html>





