
<!DOCTYPE html>
<html lang="en">

<head>
<title>description</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

    <div class="description">
        <div class="container">
            <div *ngIf="paper">
                <h2>
                    <a [routerLink]="['/paper', paper.title]" routerLinkActive="router-link-active" target="_blank">{{ paper.title }}</a>
                    <!-- {{ paper.title }} -->
                </h2>
                <p><strong>Authors:</strong>&nbsp;{{ paper.authors.join(', ') }}</p>
                <!-- <p><strong>Tags:</strong> {{ paper.tags }}</p> -->
                <!-- <p><strong>Relevance Score:</strong> {{ paper.relevance }}</p> -->
                <p><strong>Views:</strong>&nbsp;{{ paper.views }}</p>
                <p><strong>Published Date:</strong>&nbsp;{{ paper.date| date }}</p>
            </div>    
        </div>
    </div>

</body>
</html>

